includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined method Doctrine\\Common\\Persistence\\ObjectRepository::createQueryBuilder\(\)\.#'